azulObscuro=#2c3e50
azulClaro=#26bce0
blanco=#fff
gris=#efefef
verde=#27ae60
rojo=#c0392b


triangulito(A,Ab,D,I)
	content ""
	position absolute
	border-top A solid azulClaro
	border-bottom Ab solid gris
	border-left I solid rojo
	border-right D solid verde
titulo()
	font-size 40px
	color rojo
	font-family arial
	font-style italic
	