@import 'colores'
numero=30px
body
	background gris
p
	position relative
	&:after
		triangulito(30px/2,50px,50px,50px)
	&:before
		triangulito(100px,100px,100px,100px)
h1
	titulo()

h2
	font-size sum(10px 20px)

