<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title stylus
	link(rel="stylesheet", href="normalize.css")
	link(rel="stylesheet", href="gorda.css")
body
	header
		img(src="logo.png", alt="logo")
		div
			h1 Gorditas Doña pelos
			h2 Ecuentra el bello Dorado

	nav
		ul
			li Menu
			li Garnachas
			li Ubicacion
			li Pedidos Online 
			li Centro Salud
	main
		section.imagen
			img(src="garnachas.jpg", alt="imagen")
		section.articulos
			article
				img(src="gorditas.jpg")
				h2 Gorditas
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque porro dolor rerum quaerat, et odio non sunt accusantium. Beatae consequuntur, voluptatum ex veritatis. Facilis, placeat! Necessitatibus deleniti nulla, nobis in!
			article
				img(src="quesadillas.jpg")
				h2 Qeusadillas
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, ipsam, reprehenderit. Amet est, porro esse. Aperiam ut provident nostrum, asperiores temporibus impedit ea corporis repellat quisquam perspiciatis doloremque ullam fuga.
			article
				img(src="taco.jpg",)
				h2 Tacos Acorazados 
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, possimus. Repellat vero voluptate quia nobis fuga totam eos autem excepturi aspernatur eaque, odio, a quod praesentium voluptatum incidunt voluptatibus. Distinctio!
	