<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Examen Diseño
	link(rel="stylesheet", href="normalize.css")
	link(rel="stylesheet", href="estilo.css")
body
	section.par
		article.triangulo
			h2 We all have a primitive brain
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit amet beatae deserunt velit laboriosam aperiam cupiditate laborum, ut maxime voluptates, eius dolorum odit sunt rerum quis similique! Accusantium, quisquam, vitae!
		article.icons
			div
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				p.icon
			div
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				p.icon
			div
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit
				p.icon
		article.abajo
			p.icon
			h2 Aim for the Guy reaction
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, voluptate, similique quas sunt aut recusandae in illo quia ut alias iste earum officia. Eligendi animi accusantium aspernatur, nihil voluptas velit!
	section.impar
		article.icons
			div
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				p.icon
			div
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				p.icon
			div
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit
				p.icon
		article.triangulo
			h2 We all have a primitive brain
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit amet beatae deserunt velit laboriosam aperiam cupiditate laborum, ut maxime voluptates, eius dolorum odit sunt rerum quis similique! Accusantium, quisquam, vitae!
		article.abajo
			p.icon
			h2 Aim for the Guy reaction
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, voluptate, similique quas sunt aut recusandae in illo quia ut alias iste earum officia. Eligendi animi accusantium aspernatur, nihil voluptas velit!
	section.par
		article.triangulo
			h2 We all have a primitive brain
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit amet beatae deserunt velit laboriosam aperiam cupiditate laborum, ut maxime voluptates, eius dolorum odit sunt rerum quis similique! Accusantium, quisquam, vitae!
		article.icons
			div
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				p.icon
			div
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				p.icon
			div
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit
				p.icon
		article.abajo
			p.icon
			h2 Aim for the Guy reaction
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, voluptate, similique quas sunt aut recusandae in illo quia ut alias iste earum officia. Eligendi animi accusantium aspernatur, nihil voluptas velit!
	section.impar
		article.icons
			div
				p.icon
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
			div
				p.icon
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
			div
				p.icon
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit
		article.triangulo
			h2 We all have a primitive brain
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit amet beatae deserunt velit laboriosam aperiam cupiditate laborum, ut maxime voluptates, eius dolorum odit sunt rerum quis similique! Accusantium, quisquam, vitae!
		article.abajo
			p.icon
			h2 Aim for the Guy reaction
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, voluptate, similique quas sunt aut recusandae in illo quia ut alias iste earum officia. Eligendi animi accusantium aspernatur, nihil voluptas velit!
	