<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Document
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="stylesheet", href="estilo.css")
body
	header
		div
			h1 Nuevo LOLtroen DeLOLrean
			h2 Menos gasolina, más HTML5
		img(src="logo.png", alt="logo")
	main
		article
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet labore possimus voluptatum, cumque! Maxime, praesentium unde, tenetur repellendus asperiores sed sit veniam. Pariatur, harum. Repellendus nemo quam iusto perspiciatis ab.
		figure
			img(src="crojo.jpg", alt="coche")
			figcaption
				h2 LOLtroen DeLOLrean
				ul
					li Rojo
					li Mate
					li Baratas
	footer
		nav
			ul
				li Personalizar
				li Comprar
				li Contactar